# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build outputs
build/
dist/
*.spec

# Configuration & Download History
config.json
*.ipsw
*.part

# Environment & Logs
logs/
.venv/
env/
venv/
